body {
  margin: 0;
  background: #020202;
  cursor: crosshair;
}
canvas{display:block}
h1 {
  font-family: 'Saira Semi Condensed', sans-serif;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 5em;
  font-weight: 900;
  -webkit-user-select: none;
  user-select: none;
  border: 3px solid #fbffff;
  padding: 0 20px;
  background: rgba(0, 0, 0, 0.74);
  text-align: center;
}

@media screen and (max-width: 900px) {
html::after {
    content: 'Halaman tidak dapat di lihat melalui Smartphone.';
    text-align: center;
    position: absolute;
    top: 20%;
    left: 20%;
    right: 20%;
}
body {display:none;}
}
